body#root {
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

body#root {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#abuse-message {
    padding: 0 !important;
    margin-bottom: 0.2em;
}

.abuse.content {
    color: #333;
    padding: 0.5rem;
}

/* fix for iOS; see https://github.com/PierBover/ios-iframe-fix */
#wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
}

#wrap iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#splash {
    text-align: center;
    position: relative;
}

#loading, #abusemodal {
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

#loading h2 {
    font-size: 3em;
    margin: 5em 0;
}

#abusemodal {
    text-align: center;
    padding: 3em 0;
}

#abusemodal label {
    display: block;
    margin: 0.5em 0;
}

#abusemodal textarea {
    width: 30em;
    height: 5em;
}

[data-state="loading"] #loading {
    display: block;
}

[data-state="run"] #splash {
    display: none;
}

#wrap {
    display: none;
}

[data-state="run"] #wrap {
    display: block;
}

#actions {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#actions > button {
    border: none;
    background: #f00;
    color: white;
    font-size: 2em;
    padding: 0.2em 1em;
    border-radius: 4px;
    font-family: monospace;
}

#actions > button:last-child {
    margin-left: 0.5em;
}

#sim {
    background: #fcf7e4;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border: 5px solid #96266c !important;
    border-radius: 12px;
}

#sim > img {
    width: calc(100% - 2em);
    margin: 0.5em;
    image-rendering: pixelated;
    border-right: 0.5rem inset #2f99a1;
    border-left: 0.5rem outset #2f99a1;
    border-top: 0.5rem outset #f290c1;
    border-bottom: 0.5rem inset #f290c1;
    clip-path: polygon(0% 8px, 8px 0%, calc(100% - 8px) 0%, 100% 8px,
        100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0 calc(100% - 8px));
}

#buttons {
    display: flex;
    opacity: 0.5;
    filter: grayscale();
}

#buttons > div {
    flex: 1;
}

#buttons > div > svg {
    width: 100%;
}
