body#root {
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

body#root.share-page {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fdf3e0;
}

body#root.share-page #pagemenu .ui.header {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

body#root.share-page #pagemenu {
    height: 4rem;
    min-height: 4rem !important;
}

body#root.share-page .left.menu {
    align-items: center;
}

body#root.share-page .ui.mini.image.mclogo {
    width: 45px;
    max-height: 45px;
}

.page-header {
    flex-grow: 0;
}

.mainbody {
    margin-top: 0 !important;
    padding-bottom: 0 !important;
}

#page-header-wrapper {
    display: flex;
    flex-direction: row;
    height: 4rem;
    min-height: 4rem !important;
}

.page-header-item {
    display: flex;
    height: 100%;
    align-items: center;
}

.page-header-content {
    /* aligns with edge of embedded simulator */
    padding-left: 10px;
    max-width: 50%;
    flex-shrink: 1;
}

.page-header-content .ui.header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.show-code-toggle {
    flex-grow: 1;
    padding-left: 1rem;
}

.no-grow {
    flex-grow: 0;
}

.ui.script-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#embed-frame, .script-embed {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-grow: 1;
}

#embed-frame > iframe {
    width: 100%;
    height: 100%;
}

.script-bookend {
    flex-grow: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.script-frame {
    width: 100%;
    height: 100%;
}

.script-info {
    width: 100%;
}

#abuse-message {
    padding: 0 !important;
    margin-bottom: 0.2em;
}

.ui.header:first-child {
    margin-top: 0.2rem !important;
}

.abuse.content {
    color: #333;
    padding: 0.5rem;
}

.loader {
    width: 80px;
    height: 80px;
    margin: auto;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.loader div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

@media only screen and (max-width: 1144px) {
    .ui.mainbody {
        padding-left: 0!important;
        padding-right: 0!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}

/* tablet */
@media only screen and (max-width: 768px) {
    body#root.share-page #pagemenu {
        height: 2.8rem;
        min-height: 2.8rem !important;
    }
    .ui.mainbody, .page-header .ui.script-content {
        margin: 0 !important;
    }
}

@media only screen and (min-width: 769px) {
    .ui.mainbody, .page-header .ui.script-content {
        padding-left: 1em;
        padding-right: 1em;
    }

    .mainbody {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

div.sim-embed {
    width: 100%;
    height: 100%;
}

div.simframe {
    border: none;
    margin: 0 0 0.5rem 0;
    position: relative !important;
    background: transparent;
    width: 100% !important;
    height: 100% !important;
    display: inline-block;
    padding-bottom: 0 !important;
}

div.simframe.ui.embed > iframe {
    position: relative !important;
    width: 100%;
}

/* ios safari -- fix height */
div#embed-frame {
    display: flex;
    align-items: stretch;
}
div.simframe.ui.embed,
#embed-frame iframe.sim-embed {
    display: flex;
    height: auto !important;
}