node_modules
pxt_modules
*.sw?
built
typings/
tmp/
*.ts.new
temp/
projects/
packaged
gh-pages
_locales
package-lock.json
.vscode/ipch
*.code-workspace
*.DS_STORE
.pxt/
mcaddons/quadpixel/resource_packs/quadpixel/textures/blocks/*
