/* -------- GLOBAL-ISH STYLING -------- */
/* ----------------------------------- */
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(rgba(19, 69, 90, 0.81), rgb(5, 5, 5));
    font-family: 'Press Start 2P';
    color: white;
}

.content {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-weight: 400;
    font-size: 3.375em;
    line-height: 3.375rem;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 2.75em;
    line-height: 2.75rem;
    text-align: center;
}

.sim-embed {
    width: 100%;
    height: 100%;
    top:0;
    left: -2vw;
    position: absolute;
}

.footer {
    position: fixed;
    /* These numbers are relative to the size of the footer.png logo */
    height: 5vh;
    width: 20vw;
    left: 1.5%;
    bottom: 0;
    margin-bottom: 2vh;
    background: url("footer.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* -------- MAIN MENU STYLING -------- */
/* ----------------------------------- */

.mainMenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainMenuHeader {
    font-weight: 400;
    font-size: 2.5rem;
    color: white;
}

.mainMenuTopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 28.5vw;
}

.kioskButton {
    width: 20em;
    border-color: lightblue;
    font-family: inherit;
    padding: 2em 0.5em;
    color:white;
    border-radius: 0.75em;
    border-width: 0.2em;
    border-style: solid;
}

.buttonSelected {
    background-color: lightblue;
}

.buttonUnselected {
    background-color: transparent;
}

/* -------- ADDING GAME PAGE STYLING -------- */
/* ----------------------------------- */

.addInstructions h2 {
    color: lightblue;
    font-size: 2em;
}

.addInstructions li {
    padding: 1em 0;
    margin-left: 1.5rem;
    font-size: large;
}

.addInstructions {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.addGame h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 1em 0;
}

.addGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.innerQRCodeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addGameContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 5vw 0;
}



/* -------- QR PAGES STYLING -------- */
/* ----------------------------------- */

.scanQrPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
}

.scanQrPage h2 {
    margin-bottom: 0;
}

.scanQrButton {
    width: 20em;
    border: none;
    background-color: rgba(36, 122, 160, 0.81);
    /* font-family: inherit; */
    padding: 2em 0.5em;
    color:white;
    border-radius: 0.75em;
    border-width: 0.2em;
}
.qrScanner-label {
    background-color: white;
    color:rgba(19, 69, 90, 0.81);
    padding: 2vh;
    border-radius: 1.5vh;
}

.qrScannerHolder {
    width: 45vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qrScanner {
    width: 100%;
    height: 100%;
    /* content: fill; */
}

.scanInstructions ol {
    padding-left: -1em;
}

.scanInstructions li {
    padding: 1em 0;
    margin-left: 1.5rem;
    font-size: large;
}

.qrSuccess {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.25em;
    line-height: 1.5em;
}

/* -------- GAME LIST  STYLING -------- */
/* ----------------------------------- */

.carouselWrap {
    width: 100%;
    height: 60vh;
    margin: 0 auto;
}

.gameTile {
    position: relative;
    width: 35vw;
    height: 45vh;
    background-size:100% 100%;
    background-repeat: no-repeat;
    min-width: 35rem;
}

.gameLabelBackground {
    position: absolute;
    bottom: 0;
    height: 8rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.gameTitle {
    position: absolute;
    left: 0;
    font-family: 'Share';
    font-weight: 700;
    font-size: 2.125em;
    height: 2.375rem;
    margin: 0.3rem;

}

.gameDescription {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Share';
    font-weight: 400;
    font-size: 1.25em;
    height: 5rem;
    margin: 0.3rem;
}

/* -------- HIGH SCORE STYLING -------- */
/* ----------------------------------- */

.highScoreSmallDiv {
    font-weight: 400;
    font-size: 2em;
    line-height: 2rem;
    text-align: center;
    color: #8AFFF8;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.highScoreSmallList {
    text-align: right;
}


.highScoreSmallInitials {
    min-width: 9.25rem;
}

.highScoreSmallInitialsScoreSpacer {
    width: 3.125rem;
}

.highScoreHighlight {
    background-color: gold;
}

.highScoreRow {
    font-size: 2.5em;
    height: 3.75rem;
    color: #8AFFF8;
}

.enterHighScoreText {
    color: white;
}

.highScoreIndex {
    text-align: right;
}

.highScoreInitials {
    min-width: 9.25rem;
    text-align: center;
}

.highScoreInitial {
    display: inline-block;
    text-align: center;
}

.highScoreInitialControl {
    color: white;
}

.highScoreInitialControlSelected {
    color: yellow;
}

.highScoreInitialsScoreSpacer {
    width: 3.125rem;
}

.highScoreScore {
    text-align: right;
}