html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Press Start 2P';
    color: white;
    align-items: center;
}

.bg1 {
    background: radial-gradient(62.83% 55.51% at 50% 50%, rgba(19, 69, 90, 0.81) 0%, #13455A 100%);
    height: 100%;
    width: 100%;
}

.background {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    border: 1px solid #141414;
    filter: blur(137px);
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
}

.addInstructions h2 {
    color: lightblue;
    font-size: 2em;
    margin-left: -7em;
}

.addGame h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 1em 0;
}

.innerQRCodeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addInstructions li {
    padding: 1em 0;
    font-size: large;
    /* letter-spacing: 0.1em; */

}

.addGameContent {
    display: flex;
    flex-direction: row;
    /* align-items: left; */
    justify-content: space-around;
    width: 100%;
    margin-top: 5vw;
}

.addGame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.mainMenuHighScoreHeader {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    flex: 3.6;
    /* width: 75%; */
    /* margin-right: -11em; */
}

/* .mainMenuTopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
} */

.buttonDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    flex: 1;
    /* width:25%; */
    height: 100%;
}

.addGameButton {
    width: 30em;
    margin-right: 3em;
    border-color: lightblue;
    background-color: transparent;
    font-family: inherit;
    padding: 2em 0.5em;
    color:white;
    border-radius: 0.75em;
    border-width: 0.2em;
    border-style: solid;
}

.highScoreSmallDiv {
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #8AFFF8;
}

.footer {
    text-align: center;
    position: fixed;
    /* These numbers are relative to the size of the footer.png logo */
    margin-top: -68px;
    height: 68px;
    width: 662px;
    left: 50%;
    margin-left: -331px;
    bottom: 0;
    background: url("footer.png");
}

.carouselWrap {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.gameTile {
    position: relative;
    width: 554px;
    height: 367px;
    background-size:100% 100%;
}

.gameContentBackground {
    position: absolute;
    bottom: 0;
    height: 128px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.gameTitle {
    position: absolute;
    left: 0;
    font-family: 'Share';
    font-weight: 700;
    font-size: 34px;
    height: 38px;
    margin: 5px;
}

.gameDescription {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Share';
    font-weight: 400;
    font-size: 20px;
    height: 80px;
    margin: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.highScoreSmallList {
    text-align: right;
}

.highScoreSmallIndex {
}

.highScoreSmallInitials {
    min-width: 150px;
}

.highScoreSmallInitialsScoreSpacer {
    width: 50px;
}

.highScoreSmallScore {
}

.highScoreHighlight {
    background-color: gold;
}

.highScoreRow {
    font-size: 40px;
    height: 60px;
    color: #8AFFF8;
}

.enterHighScoreText {
    color: white;
}

.highScoreIndex {
    text-align: right;
}

.highScoreInitials {
    min-width: 150px;
    text-align: center;
}

.highScoreInitial {
    display: inline-block;
    text-align: center;
}

.highScoreInitialControl {
    color: white;
}

.highScoreInitialControlSelected {
    color: yellow;
}

.highScoreInitialsScoreSpacer {
    width: 50px;
}

.highScoreScore {
    text-align: right;
}

.sim-embed {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
}