.game-modder {
    width: 100%;
    height: 100%;
    background: #2c3e50;
    color: #FFF;
    font-family: "Monaco", monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    /* font-size: 16px; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.sprite-editor-container {
    /* font-size: 10px; */
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}
.sprite-editor-container > * {
    margin-left: 10px;
}
.sprite-canvas-container {
    position: relative;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 40px;
    line-height: 50px;
    white-space: nowrap;
}
.tab-bar,
.sprite-gallery {
    line-height: 0px;
    width: 100%
}
.tab-bar image,
.sprite-gallery image {
    cursor: pointer;
}
/* #2c3e50 */
.tab-bar path,
.sprite-gallery path,
.sprite-editor-container {
    fill: #4b7becaa;
    background-color: #4b7becaa;
}
.tab-bar path,
.sprite-gallery path {
    stroke-width: 2px;
    stroke:#4b7bec;
}
button {
    border-width: 0px;
    border-color:#4b7bec;
    color: white;
    background-color: #4b7bec;
    width: 95%;
    height: 60px;
    font-size: 32px;
    line-height: 60px;
    border-radius: 5px;
    padding: 0;
}
button:hover {
    background-color: #294da0;
}
/*shade over blue: rgba(52,73,94,.2);*/
/*text on white: rgb(75, 123, 236);*/


/* .tab-bar {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 5px 5px 0 5px;
    border-color: green;
    border-style: solid;
    border-radius: 20px 20px 0px 0px;
}
.sprite-tab-spacer {
    width: 85px;
    height: 85px;
    border: 5px solid yellow;
}
.sprite-tab {
    width: 65px;
    height: 65px;
    border:5px solid blue;
    margin: 10px;
} */

/*
.grid {
    display: grid;
    grid-template: 20px 1fr / 1fr 600px 1fr;
}
@media screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 0fr 1fr 0fr;
    }
}
@media screen and (max-height: 800px) {
    .grid {
        display: grid;
        grid-template-rows: 0fr 1fr;
    }
}

.questions {
    grid-area: 2 / 2;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}
.questions > * {
    align-self: flex-start;
    width: 95%;
    margin: 2.5% 2.5% 0% 2.5%;
    text-align: center;
}
.questions input, button {
    font-size: 20px;
    height: 50px;
}
 */