.game-modder {
    width: 100%;
    height: 100%;
    background: #2c3e50;
    color: #FFF;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

h1 {
    margin: 0;
    line-height: 64rem;
}

html {
    font-size: 1px;
}
/* 
* {
    box-sizing: border-box;
} */
/* 
.grid {
    display: grid;
    grid-template: 20px 1fr / 1fr 600px 1fr;
}
@media screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 0fr 1fr 0fr;
    }
}
@media screen and (max-height: 800px) {
    .grid {
        display: grid;
        grid-template-rows: 0fr 1fr;
    }
}

.questions {
    grid-area: 2 / 2;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}
.questions > * {
    align-self: flex-start;
    width: 95%;
    margin: 2.5% 2.5% 0% 2.5%;
    text-align: center;
}
.questions input, button {
    font-size: 20rem;
    height: 50rem;
}

button {
    fill: #ffffff;
    stroke: #999;
} */