.game-buttons {
    display: flex;
    flex-direction: column;

    height: 100%;
    position: fixed;
    right: 0;
    top: 0;

    opacity: 0.5;

}

.game-buttons .spacer {
    flex-grow: 1;
}

.game-button-svg {
    user-select: none;
    touch-action: none;
}

@media (max-aspect-ratio: 1/1) {
    .game-buttons {
        height: calc(100% - 3em);
    }
}

.game-button-svg {
    width: 200px;
    height: 200px;
}

@media (max-width: 400px) and (max-aspect-ratio: 1/1) {
    .game-buttons {
        max-width: 50%;
    }

    .game-button-svg {
        width: 100%;
        height: initial;
    }
}