@font-face {
	font-family: "xicon";
    src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABsUAAsAAAAAKSgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAQQAAAFZIpVOdY21hcAAAAYgAAADDAAAC3PMe0glnbHlmAAACTAAAFgcAACB45xptumhlYWQAABhUAAAAMQAAADYW1CVjaGhlYQAAGIgAAAAbAAAAJAjnAvBobXR4AAAYpAAAABAAAABwaXgAAGxvY2EAABi0AAAAOgAAADqC2Hk+bWF4cAAAGPAAAAAfAAAAIAEvAWFuYW1lAAAZEAAAAR8AAAHyCM/ZInBvc3QAABowAAAA4gAAAU1op2u7eJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGQ+wjiBgZWBgamKaQ8DA0MPhGZ8wGDIyAQUZWBlZsAKAtJcUxgcPjJ+lGZ+AeRGMb9mbAXSjCA5APwWC9UAAAB4nO3SaQ7CIBiE4ReLdav7LlfwOMYD+cvrcgL9hvEYNnmYMIGmgQJjoAv3kCG9Seh5RZta3zFvfebZ1mT1tXw+MSaNMc9tHMXaHG/smTCNXTMWDCxZsWbDni07Dhw5cebGhSsltvX8n0FDevxmRSdr7axHhrIz3VnNptOvY9N91t5QTgzl1FDOTHdbf1C3MJSD6evq0lCuDOXaUG4M5dbi1qk7Q93eUHcwlEdDeTKUZ0N5sfh3qFdD3c1QV4zyBRDkQa4AeJyVWQmQHFd57ve6+/V9X3NfPTO9s7Oa0c5Mz+xqd2dWK1mSJVlItnXYAmPL2JawE1vYrgKMAoqNMYGkUELZ4CJACBUSEx8BKtj4CKbAAmMHksJAcSaVogpIqhISIBUsDflfz6wkH6mK5+juee/9/7v+//u//w2DGHix29jPMVsYZlDu9FdQCxmIhC0UhSuoO0SDThH5/UHcq0ckmictNEL9GGrjJvJ0JLhFVEAkEiqRjjzL9b+PN1tpkjNwtt5YJgiR5UY9i/U8sTXuES+NVBzgeEY3ZmJ4UFEqdegKrFupTWnreZvTL6zUePMpPeAQwkZae6k6LW1ghLhAP/uElWZwMocn2Z8wVSZmGAmRSoTqvQGKe/1uJ/AD37NCq1evkDxC5UE0CHzXqbeRoKOggDtDHPVZYfx+KSONvyZJqDWoO1ZoCEM7Y49/jd3SDXPvkP6Sl95+wuI0JYqXepGHEDoDEhLqgxRq3VwfCEZoOeOvoYFm29p7x78q3tB8h5QZP+pYL3w/v6WYmUmlZuO8S4cKa/7b37JfZP+VeRZ+wOoJvuAHBRT4AoExRfWoPoj7dXqPiHBhxaAPi9+DYvhNJeBGK/q0fAj1bQStYDxoQIUJ7CPUghS8h6AlgGbr5fDuJxV9n1YM6tH/VZPIQl/BtAzqDRh1sN4okRCCIWIHFi4GRKwWTI2TRE4UDcIjLGLEm65mOjOmrmBOExXVYOGlIZZXdLnWlIjMsyRn2o4hKloGCZiVFLz7/gGqjb/WM6q87RIio5liBkzOzTQrumtpZrqmmhYRdTSYKWeyXDEXLs1avikq/RVVN10immi5GWbzJCzWV+ds3yjmKiVWsTq2JvFisa7xgoBMU05niULK6XLJS/lF7Nfj+pCYs2xL68wJsx3bVRx7w47Z6oySz9ZaW7AlcaYqkh3bNdW15rbOhDUpl63OrSJL5DXFiGc1WXfNaKGcLXDzpVoP6QKxTbx5poQeG+9vPnAtFlnEqaiZ9gIrl81ucETE82QxNlWJZUVUMXWe2CnfDSUOBiYOGzBXlcMCymsyy9q+YxV4LGqZsik6ZkrX5arDNS/Jiirx62mzWOYkEvp5RyE8q4paKZgVbDGxOfCRx9gfMhHDON04jLvUO8odP4+6Xuitf10Sliv1FUTrw5VTp06lbczamVPJK2OfPWun4QE377rpPjudtu+76a6b7lx/vBO6mPjid9i7GZHZwTC1CDxPiAcBRRLwRXopUGvyXB01UdSNhwiAJezHvRYKK4An9AZ+ChfX73pdIay0UG+I8LOnrjn1pafPPrtCLmqVc4W379x881aus7W+uf67rT+s9/t1A8eH+/P7F4g2m44WrooGg+i51p/VV+v11V+dGj+F1k4df/pp1N+wbG7eO7ppVdrTi1brLYT6l/SRafUPxxte13aDhUgcXDJArfrqJZtrMBU+mc+P2b9gbmFOMh9gHmaegVm1EieNwM/6g3O+kswr8QXwD53OIHFOuIQVaIsFQLcCRc8Rbdjt+BQ5wbcGPephsBsjtK6HQpY7UQUaWGjTp72RCWIN+hSMW5MeCshJXBd0YKqMKsCJDp0C3IAOtT9FgG5nOiCC3rb7no2uLOmRXArmmt1cfSZX35fL1+yUzUqmR3iMWMRqVbmki15WkQXMIaHaDgo1bGlLGdHgdVvZqREiSN6OgpFiBd1OcYQDa2d5XmYFwGcsgKFdUnnr580cLytmsDzQwNblRue/Ys3Q8na9z/LR5qIYtGVZyhRLniIWbE3mFct3BYMlfitjv+5TcpYHhe7HFrLFyClxYfvDsznVWNO2dVxdSb/u2cuHK0tNx/FEEcsirNymehgv5d2GnlEsJb0Q2IA/FpeqqILUWsqkApEl4Pm8w0tKTnWEqiXD2BqaRMDHBBbQypJURcxlRMWoF0u2yKOHxILhLjk+OLrW1lMl4a8zm/ySpilz1crAHV+HicpjQSRWpZIuY5aV83mdYIkVSxWZ59/NZ2WtoOXv7/kZZyHe/kDe5XiGTezqBXY3PCmMQWOvVUbgKXEUF6lHptnHz1yEKp++445PNz/4wa/gu8fb37q2G+3bcuLo4JxdnmafY+aZI8yfMF9mvgV+HRp8UeyOxHiEuyMhbou8IXhQUlRoYZt34KeBw0nhiG+LYdKAp5Vi2FZCBwABongCArHV6z+GZmbKKQUjzMGiSZIEOyWJAuFYjMzP0GcRcAZshSNQLUto+RVF71OsibgoUmlZBHEeINDKVWc/9sJ5bR98pbb3NV7W+Zmvv0T8yVeK/JVks+d7ux+NFdNUxhiu7HPEztWib79S5kuSw7IcT0RRvnB+mCNkOmYo4qFTbH3xldKP1WYqKR2ffXi94AOvqi7p/JOvFD81EX+13oz7zze/11TO/obOBRPFPLf/72Hfw7SYIfM7zEeYrwPIF2F7ubY0gs1VnC7Fdpc0EcXzXh8ZYpGbWEXYRnFbCNFIbHNTYygiryh0a21xxHWpFjE0kGdAm/10vXkOYrhbatwtiOA6PMcC/2HBzwn8vt2BodL5CvCj9Z+8KPL0ggqCQAgHgoiA5LtFcBACemCmIChA41sdfl1OHD/6WlqjHa+lNXvX+lBvDaOcic+NFsSmatR3nJ/Y+NcC/2uKEHBB8jmFlShvYPoLtomK0uYsi+QT5zo/88PX0Bi9hrZ0q7lpHDoN/r6H+XPwdwYlAYZyti6Z8sMJM0vCAKWE3UG4zv06AVBCh0xjCqHMDkLDpGW3IpCoHiQVAUSlpJC28INJ6zZa1zwtTwJKXVjvFurb01AYUCKZVCRRaUCE+QJKgo4BLbo0ug0mgW6QMFz02/ia3EZZsvmFfbxoqtruBSJyuF/YVl48aIqE5VJv2P6nsDqiIde9bHY3O9/UXJnvhzXFbA4kdTDYqArzdXcDsEmVE6u5jIQ5AWANEwxIz2PwfVkXdVNQOIhNpGKv+MWcIum2VlBLPLIUAVablVle4CUdE03UTFGITdu1gKPYiqTZ0s/tcLnly+2KXgbWyIJiQ1A9pVMJVTvqA5t9ptvcchMiYr9x+Sf2DpsuEjnUNnjVvnJTvuZv+MGWdCfVKJgmUrYjYfwgZ4pcc3Fp84GHL1L1wfLH9vavqbkVMAnz07iqqLos8JhzOBiYwrPBjB4olkQjKkSoksfZfitnBJrAy35accB4CeY5ntclqybInmQKWBgoHCcovpHJ6r7CP2KFWz53cG5fSU8r4LicKHCCJc3GC8sHHtlmWgxJbOsp9lEmhRpoGW1DO9HlYF+dAufqXKXF9YacA2kSWFAPtg4YBdgNJSDRYMJ0ooFAKi0cD8AMWigetJHfgTSrTkVGqJPsN7QGAuQFOppFQgS1wF/iQUL6sNAp4O4ghsI+pYdFNAAOAwSRKqcSQiB4wgDojge8KAog5YQIJZBuBxS6PqWMQhDVaXvX7/QHVKAPdgzmGwV+G8HQIsEFVlSnIwGmyQ2iJGGiNCqhpKDQ94Qihhl7gg8DcnUcRj6J6HMBsR3qFkKFGnrFQL0wcShK8aIhqrlCN0gyL+gCcyu3HNm3WCot7jtyy9vPP67MX3X59qzCI3jLENHgpaYkzBOFV4iANEExLRUgVQBokjlEsAnFpi/jPNHyZlHX9IKlChpwCsf1ZPCuXbyvpWYObKhdfNEoq6qyIhMdKD/WdJlTTV12dFmXTFFOS66MIhYABrqE/FnigMhRIqnBNWU5kiFCwsGqubTKwXhkW7REWQ+hsakXi3mFzfd2toDTEEg5dBmCFstBXsIiSUg7WIhEZMpEzBbLacvAspPVqbvYCEyVkzU+aH2dF3Rd1QUVUjwwYZY1R5ZBVCJRPvkC4jOEwLSJJLOPljbtPXL8bS9fvTNfSbfWGhmtIOeJ4UKOBVkSEsAXMAA8uDwmIqwqIDr4AIc0jMWcnzINjYA7YQ76y+s8B7mRqAqckVYCVeU41zNyjYyiK7wE3AcWnVgqUExVBa4Haw95q8oLpoooLEOghr5gjEBnia4KumBadB0RIY5uiZxky1iQJUfiRBeiR5aiRyt+06EdaQkWQpL0QrGY9SWWQC4HQ5A5bKlYBcThJHBg0/M9yfBTuiqJrq3qiMeSB+SXEPQUAhRDPMwQ3J5lHQAdeH+DQzVJsjgWbCAJCXjqu99m1ph3g88Oohbbi+rT9KQ3cShvAuYXZBWTBCWqx73huRwmpoGCp+lDtzPo9+pTLfVeC7enkaI3bTvEMXQCDjk9LxCI5046YHdXq5mCK9EU3jMyki4opdlhFazac7KOxNszjgebz6JdqzlVFmSSNXxZgngokPDsHcB6wtFsURF1KWN4isRiyS2mq9VqCE4CewuQliUgpeZWd2GMIfdwZyxeAs0e+n4QmOX57Tdky5YHcQNbVVEprzQ+6zVSnqnKxEkpadcv5/snRxdDvFFtgRpeYBcznR1R2D3qfm5mpayIVQtjInlWKXf9jo0VMwj8bhht72aKdiAKYHogKCo7hycH+VLgpJWUQ2TV9IPzMfo77Fch97WYtzAvwH64pFLv9Ts+v/6AYNWBjkVxf4VuT7CEirwHG4I3zifBF+LjPAUnWPN4RLoBPcACGhd4kBTTzQsDH1a9nyw67E4IGzTCUfeVSjrrSvglBPtJe4tpz4BhYfQSJW00URJC4KadeEmHsJlddLI0VyzOldC+yX2sFbMX79p1zLYvGY6ARBHqFrKNOdEB/7EsEdCBZwvU8QSOb+Q/aRnX7dp1WHNOG7LiIwiubt6ndl4zDAMp4cBdVwJJAlUiaeeVsBxV8iPPKmzbZnJe5quvqmP/npyXhgZEtGxc8IvFDcViMLmNP6Rl3/iug1zMXXHiVgtgD0BDMDgIlumGqgK4grkhADQxL17BKwKfYCRr33LyABfzh07c6PPsXG7FxbzK6yDKim5zpoRzm6AV0JGpHsWXqY9SXMwLVxAZyAu12v47D3vYOXxio8epaC6/TLUQDVg0K6BETRYigDd/rhWE5GlO+I/s08zFzKXMYcgJw4S6h3GHEvglRFN6kuT2iTtOdq5bQLBdXa8yIftJ3PMh1MLO0twfWo6QQ+MiPQDl1x/+B12xd3Fx7xWPI6yxKsLNqJnRTYAYxJsCOn357sXF3Zc/CeYOuMNit+B7/oYORjqnI/T31cVadaE+fivcawu1760deNPuPZe+8dAOLOSkcqbS4DhLyhuaJukbbIK2Hziyb8+eqw+tEadnyaZuVVyOY7mNUaEul2ELbi/Uqov1WnZygyWQknX4Z/a7kBc7TMBkmSITMhHTZNqQ4wILsFy/W+70IUGth7xXji/8otDqshd8/8HJZh18kF7P/II9fWbx/Hc83rLlXesfdpixz37ZzmRsvGxnjq2tvWv9g+88s8B+9fx3epb2A/YapkxZkk/TZa+8fo8rLTQ5P5sHcO2WPfajgGDp8VnETu7jf2/vaz36aHtfG5n4x9Vu9XvVXvUk6h3qdf+t1zvUPXkeS74Ja7DAbGbuYO6CnoTAm5zerCNzFPcmpNufoHg8H/gXvj0/aS1MkMcl9PA7njSdnjJB2udOUWCiOo/OKU/ecX3C6qk4VYP+G/0E5/NBK97Srm8s+SpBOT+dqb/p4OKK6yH8RgLRUJU1WRElnqB2uZ91P2Gn09V0enwRCvE54V05HwIwlwhfd2Bx6EyFZUVRX0UYaXl8dTRLQwbgs5D3CrryH85G06FUClfzxXBngyZVoEG1nHSuUttwbGEGqPFDmTADH/z7F8grjhGYjvFS+VZUeKmC1tELFcB2iMmevJ+dgexbAYQ/b5mMA/vthXw3Dr2uBd84LCdXBFd++qXPHx09cQI/DJcTT4zO7oM7+uLp06g1Go2/dfr0eGU4xA+cGI5ODM8+PzxxYoiPD5945pER+ttnpjb3TXYR+qPMHAUDqzygMb5CczAX9hKiA4R0CPqJTaDPHrj3LYWPj2+7x12YffMtR2cazWbDtjN+yl0cjRaXd+9kF1duX3t0vPqRQwszc3Mzs0dvO9awe7brLt73qQ8tLhUL5/nFC+wpQKdZ6LlsldlACAeV9QPQiTkB/EwPO6em143wkyg1/unPvvCFx6+6LFprdvNFx7D2bV+6sn98R2WxvqGryqJppP2yM3sV+rvxT9E2aMkJQa6/6W/2X3lzNhC5xzGraN1m/bJcWlNY/AY6lGRQn2Q/BSNLzs1qUQ2tg5oDa49e/Ay6cvzLhX0L8Cm/852/PMONT80A1C0u4t+MG+fn9Hn2y6BtbjInZxCFQWU9O173n2788mkK+E7UHT+/5/nnn7/+vas3bd+/sWPbhtWa27P5yPKJvfXh7Hyu4Kra5sX2jubh69Hrx89hBG15MV1YHl171dVHRsuFjMg9jznFyOUPz7UWdZXDN0zHtMx+6/yYIONYX2eaSU9Z2vmVnrpwN0L/hPjxiw89+OBDB69u7e4sl6uqpqnV8nJnd+vqTdlWodoQBUFsVAut7KaD+BvjMwehKS/lK1u33XLjjTdv3xLmJP5BlljuZVtWN69d5lk8e2C6Tvhn7JNg+XnKZdaX2ZtYmxCxtYjCTg9WCO3t74rjXf37RpVqGK6MDqDS6PL2fLl0G2bqcbw7jtG99/Z27n5g18Xx3vHPvb3bjlx//PUHLr17/SzrR+z7mD9i/pi5l/kw8y/Qmx+Qda7aSxhKcgBOJiCV/OsIs18noBMsm1yWUGUess4Bva4fNUzOQ/pCf1pEg2JSGM3XJ2F0cqS/TnD7UdIxXGDhk443dr1o43wXuRWnIrwsDlPZaRlOjltAlZ8cwJNpCJ4CrkAK+JwEWwV+66pFF1J2xefsWqU4fO/JeKGS1yzEcr4maoqIVV4iIk88PSM3m7U4XbI59N0G5pESVCrEkgzVkEWZ8PS/UaAoUlojEqRYDkkOmYBuYMNGGvI8QkyDU1xe1lSJ59m057hAW4hB/gAQ8Oyz6De6MTyazYpk2NoYN7dZtsA3i5VqtiVDXpmfS2VMCfJLXmdZtx4UN9U54to7mv3OxlVIsDAkZ46GFV68ZGnI7h+s5ot2GKiuld40K0atRrpTrjfmRr3GYKEgCtnSpXnb5Xkk8KJmW54CgxXZaYZK2RUkXbyk2HpG1xUWyZrkpXc2TL/sSWlVgizM0ESTzZusiF0Rs6KfJVZRCwROE3WyNeWXmpnAs72zCI0hF70Mi/tHaxcvH0lnJGFprtWZWTVNgTTyxUqm4QhiWq9YkFN5mXaJ5UsrtfkNs5sgwuSOjZqzim/yoqUsLOy9J2pM/7u9AIfpH1aRVY7onnfo2RYNpkCdIYFK/teCN+7uv/fWwsfR++/xBs1jx49Gs/Cy7ayXcjcNh5uW/p84DLg3voM7i69lXKbBjGjf1O5NavglarAm7UxI/u1OcrzKOXMWJoARTA4Gh9MAz0rvuf342tata8dvR8Ztx7ds3brl+G33/N6NR1dGo5WjN7544zH6cOzGNMa6DOyWz1639Q2jq9Dh4YbG6lX4Wtp8/IuXqoheIvki1fUCEm7e9eZdN1vtUndmubTazKXL8wzzvyBjRCMAeJxjYGRgYADiW9z37sXz23xl4GZ+ARRhuBn9kQdB/6tm+cv8GsjlYGACiQIAc3oNDQAAAHicY2BkYGB+wcAAIf+9ZvnLwMiACmQAcBQE3wB4nGNgYGBgfkE/DABUOxjKAAAAAABiALoB9AIoApADvAPcBNwF1AcCCOAJpgrGC0oLmgvMDJYM1A0QDVgNeg3EDg4OQg+YD9QQPAAAeJxjYGRgYJBhDGXgZAABJiDmAkIGhv9gPgMAFHQBkgB4nF2OvU7DMBSFT/qHaBACITGbpQtS0nbsA7QzHbqnidMfJXHkuFUrMTPzFMw8Bc/FiXslKmzp+jvnHl8bwAN+EKBdAfq+tquDG6oLd0l3wj3yo3AfIZ6FB1QvwkO8YiQc4glvnBD0bukMkQl3cI9KuEv/XbhH/hDuc/qn8ID+l/AQK3wLhxgFg9MuNdVSbw5FYj37stK22ZlKTaKx1wtdaZs4nan1WTXHzdS5XOXWlGpuKqeLwqjamr1OXbR1rp7FcS5+lJoSJ+yQwvDXS2hscECBBPbK/6MVExYNdasUJogwvuov2K98JoHjmTGzxpm1wZGzp3QdcuqcGYOSNPc323TBbejUvrenk9KPsPW3aswQc+f/8pF/u/wFVfNTigB4nG2NyW7DMBBDxcRRtrpLmu7px9nSxFE91ghaAvjvW6cIeilPjyBBqpn61Ub9rwNmmKPCAhpLrLDGBlvcoMYt7nCPB+zwiD2e8IwXvOIN7/jAAZ9KtyymT7otpqc8b0tXmZMLW8NSbAksjV0YYYlbI8PQeMvO0+ZYmJOJRH73hz81bkKi1bF4k534RcfS0uwrLftEQ8ij7tNUXw/ORJluqsCl02HMJ/H7SCY3vivcxERMl4kqkpVVyhScz1JfgV13ysvJScmXWM4U6ytcYp1LzExV8VbWZ2dJAjejUt/1vFzyAAA=) format("woff");
}
.sprite-editor-icon {
	font-family: "Font Awesome 5 Pro";
}
.xicon {
	
}

.xicon:before {
	font-family: xicon !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.xicon.function:before {
	content: "\f109" !important;
}
.xicon.bucket:before {
	content: "\f102" !important;
}
.xicon.undo:before {
	content: "\f118" !important;
}
.xicon.redo:before {
	content: "\f111" !important;
}
.xicon.rectangularselection:before {
	content: "\f113" !important;
}
.xicon.blocks:before {
	content: "\f101" !important;
}
.xicon.bug:before {
	content: "\f103" !important;
}
.xicon.chip:before {
	content: "\f104" !important;
}
.xicon.cloudupload:before {
	content: "\f105" !important;
}
.xicon.color:before {
	content: "\f106" !important;
}
.xicon.commandline:before {
	content: "\f107" !important;
}
.xicon.fullscreen:before {
	content: "\f108" !important;
}
.xicon.fullscreencollapse:before {
	content: "\f10a" !important;
}
.xicon.globe:before {
	content: "\f10b" !important;
}
.xicon.js:before {
	content: "\f10c" !important;
}
.xicon.ksempty:before {
	content: "\f10d" !important;
}
.xicon.ksfull:before {
	content: "\f10e" !important;
}
.xicon.microchip:before {
	content: "\f10f" !important;
}
.xicon.plug:before {
	content: "\f110" !important;
}
.xicon.python:before {
	content: "\f112" !important;
}
.xicon.stepinto:before {
	content: "\f114" !important;
}
.xicon.stepintolight:before {
	content: "\f115" !important;
}
.xicon.stepout:before {
	content: "\f116" !important;
}
.xicon.stepover:before {
	content: "\f117" !important;
}
.xicon.stepoverlight:before {
	content: "\f119" !important;
}
.xicon.turtle:before {
	content: "\f11a" !important;
}
.xicon.videoplay:before {
	content: "\f11b" !important;
}
