.game-joystick {
    display: flex;
    flex-direction: column;

    height: 100%;
    position: fixed;
    left: 0;
    top: 0;

    opacity: 0.5;

    touch-action: none;
}

.game-joystick .spacer {
    flex-grow: 1;
}

@media (max-aspect-ratio: 1/1) {
    .game-joystick {
        height: calc(100% - 3em);
    }
}