.tab-bar {
    line-height: 0px;
    width: 100%
}
.tab-bar image {
    cursor: pointer;
}
/* #2c3e50 */
.tab-bar path {
    fill: #4b7becaa;
    background-color: #4b7becaa;
}
.tab-bar path {
    stroke-width: 2px;
    stroke:#4b7bec;
}