/* Global --------------------------------------------------------------------------- */
/*
@font-face {
    font-family: 'Pixel';
    src: url('./display-font.ttf') format('truetype');
}
*/

html {
    font-size: 10px !important;
}

ol {
    font-weight: bold;
}

li span {
    font-weight: normal;
}

#main,
footer,
footer > * {
    min-height: unset;
}

.ui.vertical.segment.footer {
    margin-top: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: top 10rem center;
    background-repeat: repeat-y;
}

.display-font {
    font-family: 'Roboto', sans-serif;
    /*letter-spacing: 1.5rem;*/
}

.body-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#main img {
    display: block;
    width: 100%;
    height: auto;
}

#main .container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

#main section {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0;
    padding: 5rem;
}

#main .container::after {
    content: '';
    display: table;
    clear: both;
}

#main .color-primary {
    color: #ff7c23;
}

#main .color-secondary {
    color: #fff2bd;
}

.background-color-primary {
    background-color: #ff7c23;
}

.background-color-secondary {
    background-color: #fff2bd;
}

#main .small-heading {
    font-size: 7rem;
    line-height: 0.9;
}

#main .text-content-block {
    font-size: 1.8rem;
    line-height: 3rem;
    max-width: 100rem;
    margin: 0 auto;
}

#main h1 {
    font-size: 12.5rem;
    line-height: 0.9;
}

#main h2 {
    font-size: 4.8rem;
    line-height: 1;
    text-align: center;
    padding-bottom: 2rem;
}

#main h3 {
    font-size: 3rem;
}

#main .action-button {
    display: block;
    border: solid;
    border-image-slice: 30 45 45 30 fill;
    border-image-width: 1.1rem 1.6rem 1.6rem 1.1rem;
    border-image-repeat: stretch;
    text-align: center;
    padding: 2rem;
    padding-top: 1.6rem;
    width: 22rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    transition: 0.25s;
}

#main .action-button:hover {
    color: black;
    text-decoration: none;
    -moz-filter: brightness(80%) saturate(150%);
    -ms-filter: brightness(80%) saturate(150%);
    -o-filter: brightness(80%) saturate(150%);
    -webkit-filter: brightness(80%) saturate(150%);
    filter: brightness(80%) saturate(150%);
}

#main .panel-primary,
#main .panel-secondary {
    border: solid;
    border-image-slice: 30 45 45 30 fill;
    border-image-width: 1.5rem 2.25rem 2.25rem 1.5rem;
    border-image-repeat: stretch;
    padding: 1.5rem;
    /* padding: 3rem;
    padding-bottom: 5rem;*/
}

/* Page Components ------------------------------------------------------------------- */

#main nav {
    height: 8.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem;
}

#main nav .arcade-logo {
    float: left;
    height: 100%;
}

#main nav .microsoft-logo {
    float: right;
    height: 80%;
}

#main nav img {
    height: 100%;
    width: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

#main header {
    padding-top: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 10rem center;
}

#main header .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#main header .container .left-content-block {
    flex-basis: 40%;
    flex-shrink: 1;
    max-width: 39rem;
    margin-right: 4rem;
    text-align: center;
    padding-bottom: 3rem;
}

#main header .container .left-content-block h3 {
    margin-bottom: 3rem;
    font-size: 2.6rem;
}

#main header .container .left-content-block h1 {
    /*padding-left: 2.5rem;*/
    margin-bottom: 0;
    text-transform: uppercase;
}

#main header .container .left-content-block span {
    display: block;
}

#main header .container .left-content-block h1 .small-heading {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

#main header .container .left-content-block h1 .last-line {
    position: relative;
    display: inline-block;
    /*line-height: 0.7;*/
    text-transform: uppercase;
}

#main header .container .left-content-block h1 em {
    font-style: normal;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: -2rem;
}

#main header .container .left-content-block h4 {
    font-size: 7rem;
    /*padding-left: 2rem;
    letter-spacing: 7.3rem;*/
    margin: 0;
    /*margin-top: -1rem;*/
}

#main header .container .left-content-block h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
}

#main header .container .right-content-block {
    width: 60%;
    flex-grow: 1;
    overflow: hidden;
}

#main header .container .right-content-block img {
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    height: auto;
}

#main section.intro .content-block {
    display: flex;
    align-items: flex-start;
}

#main section.intro > .content-block > .text-content-block {
    font-size: 2rem;
    line-height: 4rem;
    flex-shrink: 1;
    padding-top: 3rem;
}

.educators-aside {
    flex-basis: 40%;
    flex-shrink: 0;
    margin-left: 3rem;
    position: relative;
}

#main .educators-aside img {
    width: 24rem;
    height: auto;
    margin-right: 3rem;
}

.educators-aside .action-button {
    position: absolute;
    left: 50%;
    margin-left: -11rem;
    bottom: -3rem;
}

#main .activities .content-row {
    display: flex;
    align-items: stretch;
    margin-top: 3rem;
}

.activities .content-row .content-column {
    width: 33%;
    flex-shrink: 1;
    margin: 0 2rem;
    position: relative;
    padding: 3rem;
    padding-bottom: 5rem;
    color: black;
    text-decoration: none;
    transition: 0.25s;
}

.activities .content-row .content-column:hover {
    transform: scale(1.1);
    color: black;
    text-decoration: none;
}

#main .activities .content-row .content-column h2 {
    display: block;
    top: -2rem;
    /*padding-left: 4rem;
    padding-right: 1.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1rem; */
    right: 0.5rem;
    left: 0.5rem;
    position: absolute;
    text-transform: uppercase;
    font-size: 4rem;
    /*letter-spacing: auto;*/
    text-align: center;
}

.activities .content-row .content-column .hero {
    margin-left: -2rem;
    margin-top: 1.5rem;
    margin-right: -1.8rem;
    margin-bottom: 2.5rem;
}

.activities .content-row .content-column:first-child {
    margin-left: 0;
}

.activities .content-row .content-column:last-child {
    margin-right: 0;
}

.activities .content-row .content-column .action-button {
    position: absolute;
    left: 50%;
    margin-left: -11rem;
    bottom: -3rem;
}

#main .certificate {
    padding-top: 0;
    padding-bottom: 2.5rem;
}

.certificate h2 {
    padding-top: 3rem;
}

#main .certificate .action-button {
    margin: 0 auto;
    margin-top: 3rem;
    width: 30rem;
}

.additional {
    padding-top: 2rem;
}

.additional .content-row,
.explore .content-row {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.additional .content-row .content-column,
.explore .content-row .content-column {
    width: 33%;
    flex-shrink: 1;
    padding: 1rem;
}

.additional .content-row .content-column a .action-button,
.explore .content-row .content-column a .action-button {
    margin: 0 auto;
    margin-top: -2rem;
    position: relative;
    z-index: 2;
}

.additional .content-row .content-column a img,
.explore .content-row .content-column a img {
    position: relative;
    z-index: 1;
}

.additional .content-row .content-column a,
.explore .content-row .content-column a {
    display: inline-block;
    transition: 0.25s;
    text-decoration: none;
}

.additional .content-row .content-column a:hover,
.explore .content-row .content-column a:hover {
    transform: scale(1.1);
    text-decoration: none;
}

#main .explore {
    padding-top: 1rem;
    padding-bottom: 8rem;
}

section.about {
    padding-top: 7rem;
}

/* avoid blue on orange */
.docs.footer.inverted a.item {
    color: white;
}

/* tablet */
@media (max-width: 768px) {
    #main header .container .left-content-block {
        flex-basis: 100%;
        margin: 0 auto;
    }
    #main header .container .right-content-block {
        display: none;
    }

    #main h1 {
        font-size: 9rem;
    }

    #main .small-heading,
    #main header .container .left-content-block h4 {
        font-size: 5rem;
    }

    #main section {
        padding: 4rem 2rem;
    }

    #main .activities .content-row .content-column h2 {
        font-size: 3rem;
    }

    #main section.intro .educators-aside .content-block .text-content-block {
        padding: 1rem;
    }

    #main section.intro .educators-aside .content-block img {
        display: none;
    }
}

/* phone */
@media (max-width: 480px) {
    #main .activities .content-row {
        flex-wrap: wrap;
    }

    .activities .content-row .content-column {
        margin: 0;
        margin-bottom: 7rem;
        flex-basis: 100%;
    }

    .activities .content-row .content-column:last-child {
        margin-bottom: 0;
    }

    #main .activities .content-row .content-column .text-content-block {
        padding-bottom: 3rem;
    }

    #main section.intro .content-block {
        flex-wrap: wrap;
    }

    #main section.intro > .content-block > .text-content-block {
        flex-basis: 100%;
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .educators-aside {
        flex-basis: 100%;
        margin-left: 0;
    }

    .additional .content-row,
    .explore .content-row {
        flex-wrap: wrap;
    }

    .additional .content-row .content-column,
    .explore .content-row .content-column {
        width: 100%;
    }
}
