.image-editor-change-name .image-editor-input {
    /* The textbox background matches the footer of the image editor, so add a border */
    border: 1px solid var(--pxt-neutral-stencil2);
}

#langmodal #availablelocales .langoption .header {
    /* Better contrast */
    color: var(--pxt-primary-background);
}

.pxtToolbox span.blocklyTreeLabel,
.pxtToolbox .blocklyTreeSelected span.blocklyTreeLabel,
.pxtToolbox .blocklyTreeSelected .blocklyTreeIcon {
    /* Better contrast in toolbox */
    color: var(--pxt-target-foreground3);
}

.pxtToolbox .blocklyTreeIcon,
.tutorial-container span.docs.inlineblock {
    /* Better contrast in toolbox & tutorial block colors, but try to preserve some of the icon color */
    filter: brightness(1.2) saturate(2);
}

#mainmenu {
    /* Some parts of the app use the same color as a background. This keeps the menu from blending in */
    border-bottom: 1px solid var(--pxt-header-stencil);
}

.projectsdialog .ui.card:hover {
    /* Neutral and target colors are the same in dark theme, so it helps to have a clearer border when hovering over cards. */
    border-color: var(--pxt-focus-border) !important;
}

/* 
 * Inverted image colors
 */
.barcharticon {
    filter: invert(1);
}

.modals .ui.button.immersive-reader-button,
#mainmenu .immersive-reader-button.ui.item,
#simulator .editor-sidebar .immersive-reader-button.ui.item {
    background-image: url("/static/icons/immersive-reader-light.svg") !important;
}
