#mainmenu .help-dropdown-menuitem > button.common-button,
#mainmenu .settings-menuitem > button.common-button {
    color: var(--pxt-header-foreground);
}

.fullscreen.extensions-browser > .common-modal > .common-modal-header .common-button.menu-button {
    color: var(--pxt-header-foreground);
}

.common-menubar.header .common-button.menu-button {
    color: var(--pxt-header-foreground);
}

.debugtoolbar .ui.menu .dbg-btn.dbg-step.disabled {
    color: var(--pxt-neutral-foreground1);
    opacity: 1;
}
