html, body {
    margin: 0 !important;
    height: 100%;
}

body {
    font-size: 12px;
    color: white;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

.sprite {
    fill:yellow;
    stroke:#ccc;
    stroke-width: 3px;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

#screen-back {
    background: #fcf7e4;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 12px;
    border: 5px solid #fcf7e4;
}

#screen {
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.has-focus {
    border: 5px solid #96266c !important;
}

#paint-surface {
    position: absolute;
    /* filter: drop-shadow(0px 0px 10px #6B4F76) */
    border-right: 0.5rem inset #2f99a1;
    border-left: 0.5rem outset #2f99a1;
    border-top: 0.5rem outset #f290c1;
    border-bottom: 0.5rem inset #f290c1;
}

#paint-surface-container {
    text-align: center;
    overflow-y: hidden;
    width: 100%;
}

#debug-stats {
    position: absolute;
    bottom: 1%;
    left: 10%;
    color: #3c3cff;
}

#controls {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

#controls.no-focus {
    opacity: 0.5;
    -moz-filter: grayscale();
    -webkit-filter: grayscale();
    filter: grayscale();
}

.stats {
    margin-top: 8px;
}

.blur .info {
    opacity: 0.2;
}

.controller-button-overlay {
    fill: black;
    fill-opacity: 0;
}

.controller-button-overlay:hover {
    fill-opacity: 0.125;
}

.controller-button-overlay.pressed {
    fill-opacity: 0.25;
}