body {
    font-size: 12px;
    color: white;
    font-family: "Consolas", "Courier New", Courier, monospace;
}
svg {
    width:100%;
}

.sprite {
    fill:yellow;
    stroke:#ccc;
    stroke-width: 3px;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

.stats {
    margin-top: 8px;
}

.blur .info {
    opacity: 0.2;
}