html, body {
    margin: 0 !important;
    height: 100%;
}

body {
    font-size: 12px;
    color: white;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

.sprite {
    fill:yellow;
    stroke:#ccc;
    stroke-width: 3px;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

#screen-back {
    background: #FFFAE7;
    height: calc(100% - 10px);
    position: absolute;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    border: 5px solid #FFFAE7;
}

#screen {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.has-focus {
    border: 5px solid #E95153 !important;
}

#paint-surface {
    margin: 20px;
    object-fit: contain;
    display: inline;
    height: calc(100% - 40px);
    width: calc(100% - 40px);

    filter: drop-shadow(0px 0px 10px #6B4F76)
}

#paint-surface-container {
    flex: 5;
    text-align: center;
    overflow-y: hidden;
    width: 100%;
}

#debug-stats {
    position: absolute;
    top: 90%;
    left: 10%;
    color: #3c3cff;
}

#controls {
    flex: 1;
    width: 100%;
    text-align: center;
}

#controls.no-focus {
    opacity: 0.5;
    -moz-filter: grayscale();
    -webkit-filter: grayscale();
    filter: grayscale();
}

.stats {
    margin-top: 8px;
}

.blur .info {
    opacity: 0.2;
}