body {
    font-size: 12px;
    color: white;
    height: 100vh;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace
}

.sprite {
    fill:yellow;
    stroke:#ccc;
    stroke-width: 3px;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

#screen-back {
    background: #FFFAE7;
    height: 94%;
    position: absolute;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    border: 5px solid #FFFAE7;
}

#screen {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

.has-focus {
    border: 5px solid #E95153 !important;
}

#paint-surface {
    object-fit: contain;
    display: inline;
    height: 100%;
    border: 7px solid #6B4F76;
    border-radius: 5px;
    border-left-width: 12px;
    border-right-width: 12px;
}

#paint-surface-container {
    width: 100%;
    flex: 5;
    text-align: center;
}

#debug-stats {
    position: absolute;
    top: 90%;
    left: 0;
}

#controls {
    flex: 1;
    padding-bottom: 20px;
}

.stats {
    margin-top: 8px;
}

.blur .info {
    opacity: 0.2;
}