body {
    font-size: 12px;
    color: white;
    height: 100vh;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace
}

.sprite {
    fill:yellow;
    stroke:#ccc;
    stroke-width: 3px;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

#screen {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#paint-surface {
    object-fit: contain;
}

#paint-surface-container {
    width: 100%;
    flex: 5;
}

#controls {
    flex: 1;
}

.stats {
    margin-top: 8px;
}

.blur .info {
    opacity: 0.2;
}