name: pxt-buildpush

on:
  push:
    # main/master has its own build that includes the crowdin key
    branches-ignore:
      - 'main'
      - 'master'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install
        run: |
          sudo apt-get install xvfb
          sudo npm install -g pxt
          npm install
      - name: Checkout pxt-arcade-sim
        uses: actions/checkout@v2
        with:
          repository: microsoft/pxt-arcade-sim
          ref: v0.8.14
          token: ${{ secrets.GH_TOKEN }}
          path: node_modules/pxt-arcade-sim
      - name: pxt ci
        run: |
          pxt ci
        env:
          PXT_ACCESS_TOKEN: ${{ secrets.PXT_ACCESS_TOKEN }}
          PXT_RELEASE_REPO: ${{ secrets.PXT_RELEASE_REPO }}
          NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          CHROME_BIN: chromium-browser
          DISPLAY: :99.0
          CI: true
